# Node.js
node_modules/
.env

# Python
__pycache__/
*.pyc
*.pyo
venv/
.ipynb_checkpoints/

# Database
database/data.db
database/*.sqlite3

#data_science
data_science/models/sp500/my_dir
